extends layout

block head_extra
	link(rel='stylesheet', href='/includes/css/game_interface.css')
	script(src='/assets/js/three.min.js')
	script(type='text/javascript', src='/assets/fonts/helvetiker_regular.typeface.js')
	script(src='/assets/js/PointerLockControls.js')
	script(src='/assets/js/threex.windowresize.js')
	script(src='/assets/js/threex.rendererstats.js')
	script(src='/socket.io/socket.io.js')

block content
	div.modal.fade#modalWindow(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title#myModalLabel #{title}
				.modal-body#modalText
				.modal-footer
					a.btn.btn-default(href='/') Back to Index
					button.btn.btn-success#modalButton(type='button') Start
	script(src='/includes/js/eventEmitter.js')
	script(src='/includes/js/player.js')
	script(src='/includes/js/gameInit.js')
	script(src='/includes/js/gameScene.js')
	script(src='/includes/js/network.js')