extends layout

block content
	.container
		.page-header
			h1= title
		p.
			Open Javascript console before pressing start in order to see system messages. Enjoy.
		a.btn.btn-default(href='/demo') Start DEMO
