body {
	margin: 0;
	overflow: hidden;
}

#pointer {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid black;
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	top: 50%;
	left: 50%;
}

